:root {
  /* Colors */
  --bg: rgb(40, 40, 40);
  --dark: rgb(30, 30, 30);
  --nav: rgba(30, 30, 30, 0.75);
  --current: rgba(55, 55, 55, 0.75);
  --dark-hover: rgba(75, 75, 75, 0.25);

  --modal: rgba(10, 10, 10, 0.75);
  --card: rgba(45, 45, 45, 0.75);
  --border: rgb(70, 70, 70);
  --focus: rgb(120, 120, 120);

  --active: rgba(60, 60, 60, 0.75);
  --active-border: rgba(145, 145, 145, 0.75);
  
  --inactive: rgba(165, 165, 165, 0.1);

  --details: rgb(95, 95, 95);
  --label: rgb(200, 200, 200);

  --light: rgb(245, 245, 245);
  --light-hover: rgb(255, 255, 255);
  --light-disabled: rgb(180, 180, 180);

  --alert: rgba(240, 50, 40, 0.5);
  --alert-border: rgb(240, 50, 40);
  --alert-txt: rgb(255, 230, 228);

  --warning: rgba(255, 200, 20, 0.5);
  --warning-border: rgb(250, 215, 25);
  --warning-txt: rgb(245, 240, 205);

  --remove: rgba(240, 50, 40, 0.5);
  --remove-hover: rgb(240, 50, 40);
  --remove-border: rgb(240, 50, 40);
  --remove-txt: rgb(252, 216, 214);
  
  --error: rgba(240, 50, 40, 0.5);
  --error-border: rgb(240, 50, 40);
  --error-txt: rgb(255, 230, 228);

  --success: rgb(30, 60, 30);
  --success-border: rgb(50, 200, 50);
  --success-txt: rgb(120, 210, 120);

  --info: rgba(80, 34, 215, 1);
  --info-border: rgb(140, 94, 232);
  --info-txt: rgb(224, 200, 250);

  --true: rgb(95, 15, 240);
  --true-border: rgb(134, 110, 158);
  --false: rgba(90, 90, 90, 0.25);
  --false-border: rgba(130, 130, 130, 0.5);
  --toggle: rgb(245, 245, 245);

  --input: rgba(40, 40, 40, 0.5);
  --input-txt: rgba(230, 230, 230, 0.75);
  --input-border: rgba(100, 100, 100, 0.5);
  --input-focus: rgba(200, 200, 200, 0.5);
  --input-focus-background: rgba(36, 36, 36, 0.5);
  --input-hover: rgba(130, 130, 130, 0.5);

  /* Spacing */
  --space-xs: 0.25em;
  --space-sm: 0.5em;
  --space-rg: 0.75em;
  --space-md: 1.5em;
  --space-lg: 3.5em;

  /* Height */
  --height-md: 1.5em;
  
  --radius-sm: 0.25em;
  --radius-rg: 0.5em;
  --radius-md: 1em;
  --radius-lg: 1.5em;

  /* Font */
  --font-xs: 0.65em;
  --font-sm: 0.75em;
  --font-md: 1.75em;
  --font-lg: 2.5em;
  
  /* Transitions */
  --transition-smooth: 0.33s cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
    font-family: 'body';
    src: url(body.otf) format('OpenType');
}

@font-face {
    font-family: 'mono';
    src: url(mono.otf) format('OpenType');
}


body {
    font-family: 'body';
    background-color: var(--bg);
    color: var(--light);
    font-size: 14px;
    margin: 0;
    letter-spacing: 0.05em;
}

main {
    display: flex;
}

header {
 display: flex;
 justify-content: space-between;
 
 .logo {
   display: flex;
   gap: var(--space-md);
 }
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: unset;
    color: currentColor;
    background-color: transparent;
    cursor: pointer;
    border-radius: var(--radius-md);
    line-height: 1;
    font-family: 'mono';
    text-transform: uppercase;
    font-size: var(--font-sm);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    line-height: 1;
}

p {
    margin: 0;
}

input {
    flex: 1;
    background-color: transparent;
    border: 1px solid var(--input-border);
    background: var(--input);
    padding: var(--space-md);
    border-radius: var(--radius-md);
    color: var(--input-txt);
    transition: all var(--transition-smooth);
    &:focus {
        color: var(--light);
        border-color: var(--input-focus);
        background-color: var(--input-focus-background);
        outline: none;
        &:hover {
            border-color: var(--input-focus);
        }
    }
    &:hover {
        border-color: var(--input-hover);
    }
}

button {
    box-shadow: 0 0 0.25em 0em var(--dark);
}

textarea {
    background-color: transparent;
    border: 1px solid var(--border);
    padding: var(--space-md);
    border-radius: var(--radius-md);
    color: var(--light);
    resize: none;
    min-height: 10em;
    transition: border-color var(--transition-smooth);
    &:focus {
        border-color: var(--focus);
        outline: none;
    }
}

label {
    font-size: var(--font-xs);
    font-family: 'mono';
    text-transform: uppercase;
    border: 1px solid var(--border);
    padding: var(--space-xs) var(--space-rg);
    border-radius: var(--radius-md);
    color: var(--label);
    width: fit-content;
    &.active {
        background-color: var(--success);
        color: var(--success-txt);
        border-color:  var(--success-border);
    }
}

ul {
    &.content {
        display: flex;
        flex-direction: column;
        padding: var(--space-lg);
        width: 40vw;
        padding-left: 9em;
    }
    &.preview {
        background-color: var(--dark);
        border-left: 1px solid var(--border);
        position: fixed;
        right: 0;
        top: 0;
        width: 60vw;
        height: 100vh;
        padding: var(--space-lg);
    }
    &.list {
        display: flex;
        flex-direction: column;
        gap: var(--space-lg);
        padding: var(--space-lg) 0;
        > li {
            box-shadow: 0 0 0.25em 0em var(--dark);
        }
    }
    &.items {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
        > li {
            box-shadow: 0 0 0.25em 0em var(--dark);
        }
    }
    &.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
        > li.content {
            background: var(--card);
            border-radius: var(--radius-lg);
            padding: var(--space-lg);
            width: 33vw;
        }
    }
    &.form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--space-rg);
        > li.header {
            display: flex;
            flex-direction: column;
            gap: var(--space-sm);
            text-align: center;
            margin-bottom: var(--space-md);
            p {
                font-family: 'mono';
                font-size: var(--font-sm);
                text-transform: uppercase;
                color: var(--details);
            }
        }
    }
    &.actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--space-rg);
    }
    & .empty {
        border: 1px dashed var(--border);
        border-radius: var(--radius-lg);
        text-align: center;
        padding: var(--space-lg);
        margin: var(--space-lg) 0;
        > p {
            color: var(--details);
            font-size: var(--font-sm);
            font-family: 'mono';
            text-transform: uppercase;
        }
    }
}


li {
    &.input {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
}